body {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
}

.container-bkt {
    width: 800px;
    max-width: none !important;
    padding: 0;
    margin: 0;
}

.msg {
    font-size: 120%;
    font-style: italic;
}

label {
    font-size: 90% !important;
}

.container-main {
    min-height: 570px;
    padding-top: 230px;
    background-color: #f7b633;
}

.b {
    font-weight: bold;
}

label {
    font-weight: normal;
}

.rc12 {
    border-radius: 12px;
}

.mar-b5 {
    margin-bottom: 5px;
}

.bw {
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.col-b {
    color: #000 !important;
}

.bg {
    background-image: url('../img/bg.png');
    background-position: top;
    background-repeat: repeat-x;
    min-height: 300px;
}

.subsmall {
    font-size: 75%;
}

.no-marb {
    margin-bottom: 0 !important;
}

.no-padr {
    padding-right: 0 !important;
}

.label-box {
    padding-left: 8px;
    padding-right: 0 !important;
}

.container-img {
    background-image: url('../img/bg-holiday.jpg');
    background-repeat: no-repeat;
}

.container-img2 {
    background-image: url('../img/bg-holiday2.jpg');
    background-repeat: no-repeat;
}

.container-img3 {
    background-image: url('../img/bg-holiday3.jpg');
    background-repeat: no-repeat;
}

.container-like {
    background-image: url('../img/bg-like.jpg');
    background-repeat: no-repeat;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

#info-box {
    width: 800px;
    z-index: 99999;
    position: fixed;
    top: 0;
}

#info-box .alert {
    margin-bottom: 0 !important;
}